.DS_Store

# Ignore backup files.
*~

# Ignore Vim swap files.
.*.swp

# bazel stuff
/.bazelrc.user
/bazel_pip
# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*

# python stuff
__pycache__/


# jupyter notebook
.ipynb_checkpoints


# C++ extensions
*.so


## OS: wsl
**/*Zone.Identifier

### Added by Hedron's Bazel Compile Commands Extractor: https://github.com/hedronvision/bazel-compile-commands-extractor
# The external link: Differs on Windows vs macOS/Linux, so we can't check it in. The pattern needs to not have a trailing / because it's a symlink on macOS/Linux.
/external
# Compiled output -> don't check in
/compile_commands.json
# Directory where clangd puts its indexing work
/.cache/
